<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>



<div class="container">
    <h1>Список продуктов:</h1>
    <table th:if="${frontProduct.size() > 0}" class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>productName</td>
            <td>Cost</td>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="p : ${frontProduct}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.title}"></td>
            <td th:text="${p.cost}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{'/product/delete/' + ${p.id}}">Удалить</a>
            </td>

        </tr>
        </tbody>
    </table>
    <span th:unless="${frontProduct.size() > 0}">Продуктов нет</span>
    <span th:text="'Количество продуктов: ' + ${frontProduct.size()}"/>

    <form th:action="@{'/product/add'}" method="post">
        <!--http://localhost:8189/app/product/add?id=1111&name=testProduct&cost=52.52 -->
        <!-- GET http://localhost:8189/app/boxes/add?id=10&color=red&size=20 -->
        <label>id</label>
        <input type="number" name="id">
        <label>productName</label>
        <input type="text" name="title">
        <label>Cost</label>
        <input type="text" name="cost">
        <button class="btn btn-primary" type="submit">Создать</button>
    </form>

    <h1>Поиск</h1>
    <form method="GET" th:action="@{'/product/findID'}">
        <input name="id" type="number" th:value="${param.id != null ? param.id : ''}"/>
        <button class="btn btn-primary" type="submit">Подтвердить</button>
    </form>

</div>
</body>
</html>